@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.container {
  width: 100%;
  margin-top: 50px;
}

.introSearch {
  width: 100%;
  display: flex;
  flex-flow: column;
  background-image: url('../../img/swirl_pattern.png');
  color: red;

  .intro {
    margin: 20px;

    .title {
      font-family: 'Permanent Marker', cursive;
      font-size: 3rem;
    }
  }

  .search {
    margin: 20px;

    .searchBar {
      width: 100%;
      height: 30px;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid red;
      color: red;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
